.container {
  display: flex;
  height: 100vh;
}

.map-container {
  display: flex;
  align-items: center;
  /* Alinha verticalmente o ícone e o texto */
}

h1{
  color: white;
}

.map-container span {
  color: #847C99;
  margin-right: 10px;
  /* Espaçamento entre o texto e o ícone */
}

.arrow{
  position: relative;
  top: 2px;
  margin: 0 20px;
}

.container-video {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
 
  align-items: flex-start;
  margin-top: 20px;
 
}

.main-video {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  margin-top: 0;
 
  border: 1px dotted rgb(255, 166, 166);
  background-color: #16141E;
  border-radius: 5px;
  width: 100%;
 
  max-width: 1000px;
 
  padding: 20px;
  height: auto;
 
}

.side-thumbnails {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
  margin-left: 20px;
}

.next-videos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.next {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.next span, p{
  font-size: 14px;
}

.next span{
  color: #847C99;
}

.container-desc {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.description-section {
  margin-left: 20px;
  /* Espaçamento à esquerda do ícone */
  display: flex;
  align-items: center;
  /* Alinha verticalmente o ícone */
}

.description-icon {
  fill: white;
  font-size: 20px;
  cursor: pointer;
  /* Adiciona um cursor pointer para indicar que o ícone é clicável */
}

.eye-icon {
  font-size: 24px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #16141E;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  color: #847C99;
  font-size: 18px;
}

.modal-close {
  background: none;
  border: none;
  color: #FF8989;
  font-size: 18px;
  cursor: pointer;
}

.modal-body {
  margin-top: 15px;
}