.cards {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  height: auto;
  margin: 100px 0;
  padding: 0 20px;
  flex-wrap: wrap;
  justify-content: center; /* Para centralizar os cards quando há um único */
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 390px;
  border-radius: 5px;
  border: 2px dotted rgb(255, 166, 166);
  background-color: #0d0303;
  margin: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-wrapper:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.cards-wrapper h2 {
  margin-top: 20px;
  margin-left: 10px;
  font-family: 'Road Rage', sans-serif;
  color: #f5f5f5;
}

.cards-wrapper h3 {
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  color: #f5f5f5;
}

.cards-wrapper .progress {
  width: 100%;
  height: 5px;
  background-color: white;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.cards-wrapper .progress::before {
  content: '';
  width: 50%;
  height: 100%;
  background-color: rgb(255, 166, 166);
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s ease-out;
}

.cards-wrapper button {
  width: 150px;
  height: 45px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(255, 100, 100);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cards-wrapper button:hover {
  background-color: rgb(255, 80, 80);
  transform: scale(1.05);
}

.cards-wrapper button:active {
  background-color: rgb(255, 60, 60);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Tela de fundo */
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  width: 80%;
  height: 60%;
  max-width: 900px;
  max-height: 600px;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: all 0.3s ease;
}

/* Botão de fechar */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Modal de conteúdo */
.modal-content iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 100%;
    height: 100%;
  }
}
