.container {
  display: flex;
  height: 100vh;
}

aside {
  width: 100px;
  padding: 20px;
  border-right: 1px solid #181818;
  height: 100%;
  overflow-y: auto;
}

.principal {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}

img.logo {
  width: 60px;
  height: 60px;
}

.menu-wrapper .icon,
.power {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-bottom: 25px;
  fill: white;
}

.menu-wrapper .icon:hover,
.power:hover {
  fill: rgb(255, 148, 148);
}

.power,
.profile {
  position: relative;
  top: 230px;
}

img.profile {
  margin-left: 14px;
  margin-top: -30px;
  width: 26px;
  height: 26px;
  padding-bottom: 30px;
}

h1 {
  font-size: 30px;
}
