* {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-right: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
  flex-direction: column;
}


img{
  width: 111px;
  height: 116px;
}

h3{
  font-family: 'Public Sans', sans-serif;
  margin-bottom: 15px;
  display: block;
  font-size: 25px;
  color: #E1E1E6;
  font-weight: bold;
}

input {
  margin-top: 30px;
  display: block;
  margin-bottom: 230px;
  width: 346px;
  height: 28px;
  padding: 5px;
  border: 1px solid #262626;
  background-color: #0E0E0E;
  color: white !important;
  text-align: center;
}

input::placeholder{
  font-family: 'Public Sans', sans-serif;
  text-align: center;
  color: #7C7C8A;
  font-size: 14px;
  font-weight: bold;
}

input:focus{
  color:#262626;
}