@font-face {
  font-family: 'Mad Hacker';
  font-style: normal;
  font-weight: normal;
  src:
    local('Mad Hacker'),
    url('../../assets/Mad Hacker.woff') format('woff');
}

.container-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-right: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
}

img {
  width: 111px;
  height: 116px;
}

h3 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #e1e1e6;
  font-weight: bold;
}

h3 > span {
  font-family: 'Mad Hacker', sans-serif;
  font-size: 20px;
  color: white;
}

.container-input {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

img.login {
  width: 30px;
  height: 26px;
  margin-top: 3px;
}
