.loading-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
input,
select,
p {
  color: white;
  font-family: Inter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



label {
  font-weight: 500;
  font-size: 14px;
}

input, select {
  border: 1px solid #43414D;
  border-radius: 5px;
  background-color: #2C2936;
  border: 1px solid #655a88;
  color: white;
}

input::placeholder, select::placeholder {
  font-family: 'Public Sans', sans-serif;
  text-align: center;
  color: #7c7c8a;
  font-size: 14px;
  font-weight: bold;
}


input:focus, select:focus {
  outline: none;
  border: 2px solid #ef9e9e;
}

label, input, select{
 margin: 4px 0;
}

input, select {
  width: 346px;
  height: 24px;
  padding: 5px;
  
}

select {
  height: calc(24px + 0.9rem);
  width: calc(346px + 1rem);
}

.lazy {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
