.container {
  display: flex;
  height: 100vh;
}

.principal-paper {
  display: flex;
     width: 100%;
    height: auto;
    margin: 100px 0;
    padding: 0 20px;
}



.container-paper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 180px;
  margin-top: 90px;
}

.container-paper h3{
  position: relative;
  top: 15px;
}

.paper-wrapper{
  margin-top: 50px;
  height: 250px;
  border-left: 1px dotted rgb(255, 166, 166);
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.paper-wrapper p{
  margin-left: 20px;
}

.icon-file{
  fill: white;
  margin-left: 10px;
  cursor: pointer;
}

.single{
  margin-top: 2px;
  display: flex;
  align-items: center;
}