.container {
  display: flex;
  height: 100vh;
}

.principal-paper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8rem;
}

.container-paper {
  margin-left: 4rem;
}

.paper-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  border-left: 1px dotted rgb(255, 166, 166);
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 48%;
  box-sizing: border-box;
  border-left: 1px dotted rgb(255, 166, 166);
  padding-left: 20px;
}

.column > .single {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.paper-wrapper p {
  margin-left: 20px;
}

.icon-file {
  fill: white;
  margin-left: 10px;
  cursor: pointer;
}

.icon-file:hover {
  fill: rgb(255, 166, 166);
}

.single {
  margin-top: 2px;
  display: flex;
  align-items: center;
}
